.card {
    box-shadow: $box-shadow;
    margin-bottom: $spacer*2;
}

.card-title {
    font: {
        weight: $font-weight-bold;
        size: 1rem;
    }
}

.card-header {
    font-weight: $font-weight-bold;
}